<div id="contacto_info" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header be-blue">
      <span class="close_info">&times;</span>
      <h2 class="no-margin">Contacto</h2>
    </div>
    <div class="modal-body no-margin bottom-space left-space">
      <div class="row" style="margin: 10px 0px 10px 50px;">
        Contacto
      </div>
    </div>
  </div>
</div>
<div id="acerca_info" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header be-blue">
      <span class="close_info">&times;</span>
      <h2 class="no-margin">Acera</h2>
    </div>
    <div class="modal-body no-margin bottom-space left-space">
      <div class="row" style="margin: 10px 0px 10px 50px;">
        Acerca
      </div>
    </div>
  </div>
</div>
<div id="QuienesSomos_info" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header be-blue">
      <span class="close_info">&times;</span>
      <h2 class="no-margin">Quienes Somos</h2>
    </div>
    <div class="modal-body no-margin bottom-space left-space">
      <div class="row" style="margin: 10px 0px 10px 50px;">
        Quienes Somos
      </div>
    </div>
  </div>
</div>
<div id="Politica_info" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header be-blue">
      <span class="close_info">&times;</span>
      <h2 class="no-margin">Politica de Privacidad</h2>
    </div>
    <div class="modal-body no-margin bottom-space left-space">
      <div class="row" style="margin: 10px 0px 10px 50px;">
        Politica de Privacidad
      </div>
    </div>
  </div>
</div>