<div class="row center-xs no-padding">
	<% @brands.each do |brand| %>
		<div class="col-xs-6 top-space vertical " style="padding-left: 0;" >
			<%= link_to image_tag(brand.logo.url(:mini)), brand, data: { turbolinks: false} %> 
		</div>
	<%end%>
</div>
	
	
